//$navbar-default-bg: #08088A;
//$navbar-default-bg: #c9302c;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron{
  background-image: asset-url('ruby-on-rails.png');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  height: 550px;
}

.jumbotron h1{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge{
  font-size: 1.7em;
  background-color: black;
}

.artigo-meta-detalhe{
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.artigo-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.descricao{
  margin-top: 0;
}

.artigo-titulo{
  font-weight: bold;
  font-size: 1.5em;
}

.artigo-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listagem{
  list-style: none;
  padding-left: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}